---
import "@fontsource/inter"
import "@fontsource/inter/700.css"

const { meta }: { meta: OpenGraphMeta } = Astro.props as any;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		
		
		<title>{meta.title}</title>
		
		<meta name="title" content={meta.title} />
		<meta property="og:title" content={meta.title} />
		
		{ meta.description && (
			<>
				<meta name="description" content={meta.description} />
				<meta property="og:description" content={meta.description} />
			</>
		)}
		
		{ meta.image && (
			<>
				<meta property="og:image" content={meta.image.url} />
				<meta property="og:image:width" content={meta.image.width.toString()} />
				<meta property="og:image:height" content={meta.image.height.toString()} />
			</>
		)}

		{ meta.type && <meta property="og:type" content={meta.type} /> }

		<meta property="profile:first_name" content="Willem" />
		<meta property="profile:last_name" content="Lenig" />
	</head>
	<body>
		<slot />
	</body>
</html>